@charset "UTF-8";

body {
    background-color: #000;
    color: #FFF;
    box-sizing: border-box;
}

.flex-container {
    background-color: #2c3aaa;
}

.flex-item {
    background-color: #CCC;
    border: 3px solid #555;
    color: #000;
    font-size: 30px;
    width: 300px;
    margin: 10px;
}