@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
}

header {
    margin: auto;
    width: 100vw;
    background-color: gray;
}

header > h1 {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}

nav {
    padding-bottom: 10px;
}

a {
    background-color: rgba(0, 0, 0, 0.738);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.142);
}

body {
    background-color: lightgray;
}

main {
    background-color: white;
    min-width: 40vw;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid white;
    border-radius: 10px;
}

main > h1 {
    font-size: 1.5em;
    text-align: left;
    text-indent: 10px;
}

p {
    margin: auto;
    padding: 10px;
    padding-right: 5px;
    text-indent: 10px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.3em;
}